@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Corben|Fugaz+One|Limelight|Lobster|Luckiest+Guy|Rammetto+One|Satisfy|Shrikhand|Squada+One');
body {
  margin: 0;
  padding: 0;
  color: #333;
}

#clickToBegin a:link, #clickToBegin a:visited {
  color: white;
}
#clickToBegin a:hover {
  background-color: gray;
}

.stores a{
  color: black;
}
.stores a:link, .stores a:visited{
  color: black;
}

a:link, a:visited, a{
  color: black;
  text-decoration: none;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 1000px;
  color: #fff;
  text-align: center;
  background: url('https://bit.ly/2vR7cW3') no-repeat center center;
  background-size: cover;
  font-size: 60px;
			/* line-height: 1.1; */
			font-family: "Squada One";
			margin-bottom: .25em;
			color: rgba(255, 255, 255, 0.75);
			text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
			text-transform: none;
}
.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 200px;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family:"Corben";
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color:#ffffff;
}

.logo {
  height: 75px;
  float: left;
}
.logo:before, .logo:after {
  /* position: absolute; */
  /* font-size: 7em;
  font-weight: 300; */
  line-height: 0;
  /* color: #fff; */
  /* top: 25px; */
}
/* .logo:before { */
  /* content: '\00BB';
  left: 20px; */
/* } */
/* .logo:after { */
  /* content: '\00AB'; */
  /* left: 34px; */


section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


ul {
  font-size: 20px;
}


.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

h1 {
  font-size:20px;
}

section #widget .box {
	/* Font & Text */
	font-family: Tahoma, "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none solid rgb(133, 146, 158);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(249, 250, 251);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(133, 146, 158);

	/* Box */
	height: 370px;
	width: 610px;
	border: 2px solid rgb(221, 221, 221);
	border-top: 2px solid rgb(221, 221, 221);
	border-right: 2px solid rgb(221, 221, 221);
	border-bottom: 2px solid rgb(221, 221, 221);
	border-left: 2px solid rgb(221, 221, 221);
	margin: 14px 0px 0px;
	padding: 28px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 1px;
	outline-offset: 0px;
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 14px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid black;
  border-top-width: 0;
  font: normal medium/normal Arial Black, Gadget, sans-serif;
  color: white;
  text-align: center;
  text-indent: 3px;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: black;
  -webkit-box-shadow: 5px 2px 2px 0 rgba(90,90,90,1) ;
  box-shadow: 5px 2px 2px 0 rgba(90,90,90,1) ;
  text-shadow: -1px -1px 0 rgba(90,90,90,1) ;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: rotateX(14.896902673401405deg) rotateY(0.5729577951308232deg)   ;
  transform: rotateX(14.896902673401405deg) rotateY(0.5729577951308232deg)   ;
}

.button:hover {
  padding: 13px 20px 10px;
  border: none;
  -webkit-border-radius: 41px;
  border-radius: 41px;
  /* background: rgba(90,90,90,1); */
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  text-shadow: 3px -1px 0 rgba(100,100,100,1) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: none;
  transform: none;
}

.button:active {
  padding: 10px 20px;
  border: 1px solid black;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(100,100,100,1);
  -webkit-box-shadow: 11px 4px 14px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 11px 4px 14px 0 rgba(0,0,0,0.2) inset;
  text-shadow: none;
  -webkit-transition: all 50ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 50ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 50ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 50ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#menu .active a
	{
    border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		color: rgba(255,255,255,1);
  }
  
  /* li {
    /* padding: 10px; */
  

  #menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
  }
  
 
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
  }

  /* #menu li:hover a, #menu li.active a, #menu li.active span
	{
  } */
  
  .black{
    background-color: black;
  }

  a, button{
  color:white;
  }

  #white{
    background-color: white;
    
  }

  .body2{
    margin-top:-30px;
  }

  .body3{
    margin-top:-30px;
  }

  .body4{
    margin-top:-30px;
  }

  .body5{
    margin-top:-30px;
  }

  
  * {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
 
 nav{
   position: fixed;
   top: 1px;
 }
   

.storesincluded {
  margin-top: 100px;
 
 }
 
 .findsize {
  margin-top: 100px;
 }
 
 
 input.MyButton {
 width: 300px;
 padding: 20px;
 cursor: pointer;
 font-weight: bold;
 font-size: 150%;
 background: #3366cc;
 color: #fff;
 border: 1px solid #3366cc;
 border-radius: 10px;
 }

 input.MyButton:hover {
 color: #ffff00;
 background: #000;
 border: 1px solid #fff;
 }

 #wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
    background: #FFF;
  }

  #three-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#three-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#three-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
  }
  
  #welcome .container
	{
		width: 1000px;
		padding: 0px 100px;
		color: rgba(255,255,255,0.8);
  }
  
  .container{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
  }
  
  #three-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
  }

  .boxA,
	.boxB,
	.boxC
	{
    width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
    margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
  }
  
}

nav{
  position: fixed;
  top: 0;
}

.plsMoveDown {
  margin-top: 120px;
  line-height: 1.0;

}

.plsMoveDown a{
  text-decoration: none;
}
.plsMoveDown a:link, .plsMoveDown a:visited{
  color: black;
}
.plsMoveDown a:hover{
  color: lightgray;
  background-color: transparent;

p{
  color:black;
}


th{
 padding: 50px;
}

#linkedin{
 font-weight: none;
} 	} 

.bigPic {
  max-height: 250px;
  max-width: 250px;
 }

.centerpls{
  line-height: 1.5;
  text-align: center;
 }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#stayDown{
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
  left: 0;
}


td {
  padding-right: 20px;
  padding-left: 20px;
}

table{
  margin-left: auto;
  margin-right: auto;
}